@use '/src/scss/styles' as *;
@forward '/src/scss/components/home';

.overflow_hidden {
    overflow: hidden;
    box-shadow: 0px 5px 26px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 5px 26px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 26px 1px rgba(0, 0, 0, 0.75);
}

.section_position {
    z-index: 99;
    background-image: none;
    background-size: auto;
    padding-top: 100px;
    position: relative;
}

.layout_flex {
    z-index: -1;
    inset: 0%;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.banner_left {
    background-color: #f6f1e8;
    flex: 0 70%;
    height: 100%;
}

.banner_right {
    background-color: #082e5e;
    flex: 0 40%;
    height: 100%;
}

.layout_container {
    display: block;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.layout_content_flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    flex-flow: row;
}

.content_left_side {
    flex: none;
    max-width: var(--content_left_side-max-width);
    padding-bottom: 220px;
}

.heading_card {
    padding-bottom: 52px;
}

.heading_wrap {
    animation: slideUp 1s;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
    transform-style: preserve-3d;
    padding-bottom: 31px;
    position: relative;

    h1 {
        @include h1-style;
        font-size: var(--h1-font-size);
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translate3d(0px, 200px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
        transform-style: preserve-3d;
    }

    100% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
        transform-style: preserve-3d;
    }
}

.text_wrap {
    padding-bottom: 41px;
    position: relative;

    p {
        font-size: var(--text-wrap-font-size);
        font-weight: 500;
    }
}

.button_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    button {
        @include button-yellow-style;

        &:hover {
            background-color: #082e5e;
            border: 1px solid #082e5e;
            color: #fff;
        }
    }
}

.content_right_side {
    animation: zoomItems 1s ease;
    flex: 1;
    max-width: 843px;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
    transform-style: preserve-3d;
}

.inner_wrapper {
    perspective: 3000px;
    justify-content: center;
    align-items: flex-end;
    transform: perspective(3000px);
    flex-direction: row;
    display: flex;
}

@keyframes zoomItems {
    0% {
        opacity: 0;
        transform: translate3d(0px, 0px, 0px) scale3d(0.4, 0.4, 0.4);
        transform-style: preserve-3d;
    }

    100% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
        transform-style: preserve-3d;
    }
}

.banner_item {
    transform: var(--transform-item);
    margin-left: 0;
    z-index: 99;
    position: relative;

    img {
        @include img-home-style;
        width: auto;
        height: var(--item-height);
    }
}

.banner_item_left {
    display: block;
    transform: translate(-10px, 30px)scale(.69)rotate(-10deg);
    margin-right: -250px;
    position: relative;

    img {
        @include img-home-style;
        display: var(--item-left-display);
        width: auto;
        height: 856px;
    }
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #63452c;
    margin: 0;
    text-align: center;
    height: 54px;
    color: #fff;

    span {
        margin-left: 9px;
        margin-right: 9px;
        font-size: 22px;
    }

    h3 {
        @include h3-style;
        font-size: var(--h3-font-size);
    }
}