// responsive mobile

$breakpoint-xs: 390px;
$breakpoint-sm: 480px;
$breakpoint-md: 600px;
$breakpoint-lg: 768px;
$breakpoint-xl: 1024px;

@mixin xs {
  @media only screen and (max-width: #{$breakpoint-xs}) {
    @content;
  }
}

@mixin sm {
  @media only screen and (max-width: #{$breakpoint-sm}) {
    @content;
  }
}

@mixin md {
  @media only screen and (max-width: #{$breakpoint-md}) {
    @content;
  }
}

@mixin lg {
  @media only screen and (max-width: #{$breakpoint-lg}) {
    @content;
  }
}

@mixin xl {
  @media only screen and (max-width: #{$breakpoint-xl}) {
    @content;
  }
}
