@use '/src/scss/styles' as *;

.about_section {
    padding-top: 100px;
    padding-bottom: 120px;
}

.about_container {
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    display: flex;
    flex-flow: column;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1280px;
    position: relative;
}

.about_grid {
    display: flex;
    align-items: center;
}

.about_grid_info {
    padding-right: 100px;

    h1 {
        @include h1-style;
    }
}

.about_grid_imgs {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.about_img {
    border-radius: 24px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    overflow: hidden;

    img {
        width: 850px;
        height: 640px;
        object-fit: cover;
    }
}