@use '/src/scss/styles' as *;
@forward '/src/scss/components/about/';

.about_grid {
    display: flex;
    flex-direction: var(--about-grid-flex-direction);
    align-items: center;
}

.about_grid_info {
    padding-right: var(--about-grid-padding-right);

    h1 {
        @include h1-style;
    }
}

.about_grid_imgs {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.about_img {
    border-radius: 24px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    overflow: hidden;

    img {
        width: 850px;
        height: var(--about-grid-img-height);
        object-fit: cover;
    }
}