section {
    display: block;
}

.section_container {
    z-index: 2;
    flex-flow: column;
    flex: 1;
    width: 100%;
    max-width: 1280px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.section_content {
    grid-column-gap: 64px;
    grid-row-gap: 64px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.section_heading {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    text-align: center;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    display: flex;

    h2 {
        color: #082e5e;
        font-family: Oswald, Arial, sans-serif;
        font-size: 40px;
        letter-spacing: -.48px;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 1.25;
        margin-bottom: 2px;
    }
}

.testimonial_grid {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    width: 100%;
    height: 640px;
    display: grid;
}

.testimonial_column {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-flow: column;
    //   grid-template-rows: auto auto;
    //   grid-template-columns: 1fr 1fr;
    //   grid-auto-columns: 1fr;
    display: flex;
}

.testimonial_block {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    border: 1px solid #1a264e1f;
    border-radius: 24px;
    background-color: #1a2a4e21;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 32px 24px;
    display: flex;
}

.testimonial_block_content {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-flow: column;
    width: 100%;
    display: flex;

    p {
        font-weight: 600;
    }
}

.testimonial_img {
    border-radius: 24px;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    overflow: hidden;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: visible;
    }
}

.client_name {
    font-size: 12px;
}