$navbar-background: rgba(221, 219, 218, 0.623);
$main-blue-color: #082e5e;
$main-grey-color: #515151;
$main-yellow-color: #ffb91d;
$main-font-family: Roboto,sans-serif;
$main-font-family-header: Oswald, Arial, sans-serif;
$main-body-font-size: 16px;