$color-cream: #f6f1e8;
$color-blue: #082e5e;
$color-coffee: #63452c;
// main
$navbar-background: rgba(221, 219, 218, 0.741);
$main-blue-color: #082e5e;
$main-grey-color: #515151;
$main-yellow-color: #ffb91d;
$main-font-family: Roboto,sans-serif;
$main-font-family-header: Oswald, Arial, sans-serif;
$main-body-font-size: 19px;