@use 'main-constants' as const;

:root {
    --main-grey-color: #{const.$main-grey-color};
    --main-font-family: #{const.$main-font-family};
    --main-body-font-size: #{const.$main-body-font-size};
    --main-font-family-header: #{const.$main-font-family-header};
    --main-blue-color: #{const.$main-blue-color};
    --main-yellow-color: #{const.$main-yellow-color};
    --navbar-background: #{const.$navbar-background};
}