@use '/src/scss/styles' as *;
@forward '/src/scss/components/wplace/';

.welcome_place {
    max-width: 630px;
    grid-column-gap: 65px;
    grid-row-gap: 30px;
    align-items: stretch;
}

.welcome_heading {
    padding-bottom: 78px;
    max-width: 570px;

    h2 {
        @include h2-style;
        font-size: var(--h2-font-size);
    }
}

.img_wrap {

    img {
        display: inline-block;
        vertical-align: middle;
        max-width: 100%;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}

.welcome_text {
    padding-top: 54px;
    max-width: 570px;
    font-size: var(--welcome-font-size);

    p {
        margin-top: 0;
        font-weight: 600;
        font-style: italic;
    }
}